<section class="features py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="feature text-center">
            <i class="fas fa-cog mb-2"></i>
            <h4 class="text-capitalize">turning gears</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquam enim corporis odit at dolores qui necessitatibus eveniet beatae deleniti.</p>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="feature text-center">
            <i class="fas fa-cloud mb-2"></i>
            <h4 class="text-capitalize">sending data</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquam enim corporis odit at dolores qui necessitatibus eveniet beatae deleniti.</p>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="feature text-center">
            <i class="fas fa-cart-plus mb-2"></i>
            <h4 class="text-capitalize">making money</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquam enim corporis odit at dolores qui necessitatibus eveniet beatae deleniti.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
