<section class="get-started py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="get-started-content text-center text-light">
            <h4 class="text-capitalize">are you ready to get started</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis fugiat quasi recusandae, error, enim omnis voluptatem vel ex numquam voluptatum veritatis illum accusantium nisi officiis nobis, soluta fugit earum assumenda.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
